*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding: 2em;
    background: #eee;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.gallery{
    max-width: 50em;
    margin: 0 auto;
}

.gallery ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.gallery li{
    list-style: none outside;
    border: 6px solid #000;
    flex: 0 0 250px;
    padding: 0.5em;
    background-color: #fff;
    display: flex;
    align-items: center;
}
